@if (user$ | async; as user) {
  <div class="h-full w-full flex items-center justify-center">
    <div class="h-full sm:w-80 w-full bg-firstLayerBg border border-[#464646] shadow-lg rounded-lg flex flex-col items-center px-4 py-8 space-y-4 overflow-auto">
      <div class="text-center"><i class="bi bi-person icon text-6xl"></i></div>
      <h1 class="text-2xl font-playfair font-semibold text-secondaryText">{{ user?.fullname }}</h1>
      <div class="p-4 rounded-lg w-full overflow-hidden">
        <p class="text-lg text-secondaryText font-semibold flex">
          Username:
          <span class="ml-3 font-normal text-primaryText block truncate w-full" style="font-weight: 200">
            {{ user?.username }}
          </span>
        </p>
        <p class="text-lg text-secondaryText font-semibold flex">
          Email:
          <span class="ml-3 font-normal text-primaryText block truncate w-full" style="font-weight: 200">
            {{ user?.email }}
          </span>
        </p>
      </div>
      <div class="w-20 h-1 bg-gray-400 rounded-full mx-auto my-4"></div>
      <div class=" flex flex-col space-y-3 mb-10">
        <app-button [options]="likedButtonOptions"></app-button>
        <app-button [options]="savedButtonOptions"></app-button>
        <app-button [options]="logoutButtonOptions" (onClick)="handleLogout()"></app-button>
        <app-button [options]="deleteProfileButtonOptions" (onClick)="handleDeleteProfile()"></app-button>
      </div>
    </div>
  </div>
}
