<div
  [@fadeIn]="trigger"
  class="pt-10 pb-14 h-auto flex flex-col items-center justify-center"
>
  <app-article-title
    class="mb-8"
    [category]="category">
  </app-article-title>
  <div
    class="mt-5 grid gap-4 md:grid-cols-2 md:gap-8 lg:max-w-[65%] w-full mx-auto"
  >
    @if(combinedData$ | async; as data) {
      @if(!data.loading) {
        @if (data.response?.status === 'success' && data.response?.page?.items?.length) {
          @for (article of data.response?.page?.items; track article.id) {
            <app-article-card [article]="article" />
          }
        } @else {
          <div
            class="empty-message flex flex-col items-center justify-center h-full text-center text-gray-500"
          >
            <p class="text-xl leading-8 font-medium">There are no items yet.</p>
            <p class="mt-4 text-base leading-6">Click "Add" to get started!</p>
          </div>
        }
      }
    }
  </div>
</div>
