<div
  style="animation-duration: 0.5s"
  class="animated animate__fadeIn pt-10 pb-14 h-auto flex flex-col items-center justify-center"
>
  <!-- componente technology con mat icon diversa -->
  <app-article-title
    class="mb-8"
    [category]="category">
  </app-article-title>
  <div
    class="mt-5 grid gap-4 md:grid-cols-2 md:gap-8 lg:max-w-[65%] w-full mx-auto"
  >
    @for (article of articles$ | async; track article.id) {
    <app-article-card [article]="article" />
    } @empty {
    <div
      class="empty-message flex flex-col >items-center justify-center h-full text-center text-gray-500"
    >
      <p class="text-xl leading-8 font-medium">There are no items yet.</p>
      <p class="mt-4 text-base leading-6">Click "Add" to get started!</p>
    </div>
    }
  </div>
</div>
