<nav
  class="first-layer font-playfair sticky top-0 left-0 right-0 z-50 h-16 flex items-center justify-between px-6 shadow-lg"
>
  <div class="text-xl font-bold cursor-pointer" (click)="navigate('')">
    ChesterBlog
  </div>

  <div class="flex items-center space-x-10">
    <div class="hidden md:block">
      <app-navlinks></app-navlinks>
    </div>
    <button
      class="p-2 rounded-full bg-white/10 hover:bg-white/20 transition"
      (click)="navigate('/profile')"
    >
      <i class="bi bi-person-circle text-white w-6 h-6"></i>
    </button>
  </div>
</nav>
