/*
  Default colors
*/
$first-layer-bg-color: #1d1d1d;
$second-layer-bg-color: #343434;
$primary-text-color: #f6f6f6;
$secondary-text-color: #929292;
$default-hover-bg-color: #232323af;
$active-bg-color: #343434;

/*
  Default button style
*/
$button-bg: #0a0a0a;
@mixin button-style {
  background-color: $button-bg;
  color: #cdcdcd;
  border-radius: 0.5rem;
  padding: 0.625rem 1rem;
  transition: background-color 0.2s ease-in-out;
  border: 2px solid #2b2b2b;

  &:hover {
    background-color: $default-hover-bg-color;
  }
}

/*Default icon style*/
$icon-color: #858585;
@mixin icon-style {
  color: $icon-color;
  width: 1.5rem;
  height: 1.5rem;
}
