/*
  Default colors
*/
$first-layer-bg-color: #1d1d1d;
$second-layer-bg-color: #343434;
$primary-text-color: #f6f6f6;
$secondary-text-color: #929292;
$default-hover-bg-color: #23232380;
$active-bg-color: #343434;

/*
  Default button style
*/
$button-bg: #0a0a0a;
@mixin button-style {
  background-color: $button-bg;
  color: #cdcdcd;
  border-radius: 0.5rem;
  padding: 0.625rem 1rem;
  transition: background-color 0.2s ease-in;
  border: 2px solid #676767;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;

  &:hover {
    background-color: $default-hover-bg-color;
  }
}

/*
  Default button style
*/
$input-bg: #0a0a0a;
@mixin input-style {
  background-color: $input-bg;
  color: #cdcdcd9a;
  border-radius: 0.5rem;
  padding: 0.625rem 1rem;
  transition: background-color 0.2s ease-in;
  border: 1px solid #afafaf;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  outline: none;
  padding: 1.5vh 2vh;

  &::placeholder {
    color: #cdcdcd4a;
  }
}

/*Default icon style*/
$icon-color: #858585;
@mixin icon-style {
  color: $icon-color;
  width: 1.5rem;
  height: 1.5rem;
}

/*Default link style*/
@mixin link-style {
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #acacac;
  }
}
