    <div class="bg-transparent border-2 border-[#858585] p-8 rounded-lg shadow-xl w-full text-primaryText">
        <h2 class="text-3xl font-bold mb-4 font-playfair">Subscribe To My Newsletter</h2>
        <p class="mb-6 leading-relaxed text-secondaryText">
            Get my new articles directly in your inbox.</p>
        <form>
            <div class="mb-4">
                <input id="email" type="email" class="input mb-1" placeholder="Email address" formControlName="email" />
            </div>
            <app-button [options]="subscribeButtonOptions"></app-button>
        </form>
    </div>
