<!-- login.component.html -->
<div
  style="animation-duration: 0.5s"
  class="animated animate__fadeIn flex items-center justify-center h-full w-full"
>
  <div class="p-8 w-80 lg:w-96">
    <h2 class="text-center text-2xl font-semibold font-playfair tracking-wide mb-6">
      &lt; Log in to your Account! /&gt;
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" id="form" class="space-y-4">
      <div>
        <input id="email" type="text" class="input" placeholder="Email" formControlName="email" />
      </div>
      @if(hasError('email')) {<app-form-error [error]="getError('email')"></app-form-error>}
      <div>
        <input id="password" type="password" class="input mb-1" placeholder="Password" formControlName="password" />
        <div class="w-full flex justify-end text-xs underline text-gray-500">
          <a href="">forgot your password?</a>
        </div>
      </div>
      @if(hasError('password')) {<app-form-error [error]="getError('password')"></app-form-error>}
      <app-button [options]="loginButtonOptions"></app-button>
    </form>
    <div class="mt-4 flex flex-col items-center">
      <p class="text-sm text-gray-500 mb-4">
        <span>Don't have an account? </span>
        <a (click)="navigate('register')" class="link font-semibold">Sign up here</a>
      </p>
      <app-button [options]="googleButtonOptions" (onClick)="handleGoogleLogin()"></app-button>
    </div>
  </div>
</div>
