<button
  class="button disabled:opacity-60 disabled:cursor-not-allowed disabled:hover:bg-transparent"
  (click)="handleClick()"
  [disabled]="options.disabled"
  [ngClass]="options.styles"
>
  @if(options.icon) {
  <div class="w-[10%] flex items-center justify-center bg-transparent">
    <i [class]="options.icon"></i>
  </div>
  } @if(options.text) {
  <div class="flex-grow bg-transparent" [ngClass]="options.align">
    <span class="overflow-hidden">{{ options.text }}</span>
  </div>
  }
</button>
